<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.zuehlke.sbb.reddit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".RedditApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".features.login.LoginActivity"
            android:theme="@style/AppTheme.OverlapSystemBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ch.zuehlke.sbb.reddit.features.news.NewsActivity"></activity>

    </application>


</manifest>
